[data-theme="light"] {
  --color-primary: theme("colors.purple.500"); /* Morado principal */
  --color-secondary: theme("colors.purple.300"); /* Morado claro como secundario */
  --color-text: theme("colors.gray.900"); /* Texto en gris oscuro */
  --color-text-offset: theme("colors.purple.700"); /* Texto resaltado en morado más oscuro */
  --color-background: theme("colors.white"); /* Fondo blanco */
  --color-background-offset: theme("colors.gray.100"); /* Fondo de contraste en gris claro */
  --color-border: theme("colors.purple.500" / 10%); /* Borde en morado con opacidad */
}

[data-theme="dark"] {
  --color-primary: theme("colors.purple.400"); /* Morado principal */
  --color-secondary: theme("colors.purple.200"); /* Morado más claro */
  --color-text: theme("colors.gray.900"); /* Texto en gris oscuro */
  --color-text-offset: theme("colors.purple.300"); /* Texto resaltado en morado claro */
  --color-background: theme("colors.white"); /* Fondo blanco */
  --color-background-offset: theme("colors.gray.200"); /* Fondo de contraste en gris claro */
  --color-border: theme("colors.purple.500" / 10%); /* Borde en morado con opacidad */
}

